
/* cabecera */
header, #titulo{
    background-color: #5b7989;
    border-radius: 10px 10px 0px 0px;
    text-align: left;
    color: white;
    text-shadow: 2px 2px #02010a;
    font-family: 'Dancing Script', cursive;
    animation: slidein 3s;

}

/* contenido */

body{

    background:  #02010a;
}

div{
    margin: 0px;
    /* vertical-align: middle; */
}

.contenido{
    margin: auto;

}

.principal{
    align-content: center;
    background: #82c3a6;
}

#galeria{
    display: -ms-flexbox;
    display: -webkit-flex;
    display: flex;
    -webkit-flex-direction: row;
    -ms-flex-direction: row;
    flex-direction: row;
    -webkit-flex-wrap: wrap;
    -ms-flex-wrap: wrap;
    flex-wrap: wrap;
    -webkit-justify-content: space-between;
    -ms-flex-pack: justify;
    justify-content: space-between;
    -webkit-align-content: space-around;
    -ms-flex-line-pack: distribute;
    align-content: space-around;
    -webkit-align-items: center;
    -ms-flex-align: center;
    align-items: center;
}

.foto1{
    -webkit-order: 1;
    -ms-flex-order: 1;
    order: 1;
    }

.foto2{
        -webkit-order: 2;
        -ms-flex-order: 2;
        order: 2;
    }
.foto3{
        -webkit-order: 3;
        -ms-flex-order: 3;
        order: 3;
    }
.foto4{
        -webkit-order: 4;
        -ms-flex-order: 4;
        order: 4;
    }

.foto5{
        -webkit-order: 5;
        -ms-flex-order: 5;
        order: 5;
    }
.foto6{
        -webkit-order: 6;
        -ms-flex-order: 6;
        order: 6;
    }




.secundaria{
    background-color:  #d5c75f;
    border-width: 1px;
    height: 100%;
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: space-around;

}


figure{
    margin: 0px;
    padding: 2%;
    text-align: center;
}

figure img{
    width: 100%;
    vertical-align: middle;
    border: 2px solid #02010a;
}


/* pie de pagina */
footer {
    background-color: #C6d5c5;
    border-radius: 0px 0px 10px 10px;
    color: black;
    font-family: 'Dancing Script', cursive;

}

footer a{
    color: black;
}

img[src*=".jpg"]{
  border-radius: 50px 0px 50px 0px;
}

img[src*=".svg"]{
  border-radius: 50% 0% 0% 50%;;
}


.pie{
    display: flex;
    font-size: 0.8em;
    padding: 0px 10px 0px 10px;
    align-items: flex-start;
    justify-items: center;
}


/* NOTE: Configuración de pantalla de dispositivos */

/* Configuración desktop */
@media (min-width:900px) {

    nav, a {
        text-align: right;
        color: white;
        text-decoration: none;
    }
    .contenido {
        max-width: 900px;
    }

    div[class*="bloque"]{
        width: 50%;
    }
    .secundaria{
        flex-wrap: nowrap;
    }

    div[class*="pie"]{
        flex: 1 1 25%;
        flex-direction: row;
    }

    .foto1, .foto2, .foto3{
        -webkit-flex: 1 1 33%;
        -ms-flex: 1 1 33%;
        flex: 1 1 33%;
        -webkit-align-self: auto;
        -ms-flex-item-align: auto;
        align-self: auto;
    }

    .foto4, .foto5, .foto6{
        -webkit-flex: 1 1 33%;
        -ms-flex: 1 1 33%;
        flex: 1 1 33%;
        -webkit-align-self: auto;
        -ms-flex-item-align: auto;
        align-self: auto;
    }
}

/* Configuración móviles */
@media (max-width:900px) {

    #titulo {
    text-align: center;
    }
    nav, a {
        text-align: center;
        color: white;
        text-decoration: none;
    }
    .contenido {
        max-width: 100%;
    }
    div[class*="bloque"]{
        width: 100%;
    }
    .secundaria{
        flex-wrap: wrap;
    }
    div[class*="pie"]{
        flex: 1 1 100%;
        flex-direction: column;
    }
    div[class*="foto"]{
        -webkit-flex: 1 1 100%;
        -ms-flex: 1 1 100%;
        flex: 1 1 100%;
        -webkit-align-self: auto;
        -ms-flex-item-align: auto;
        align-self: auto;
    }
}

/* NOTE:Efectos de animación  */

.bloque1 img:hover{
    animation: rotar 3s;
    /* animation-iteration-count: infinite; */
    /* -webkit-animation: 3s; */
    /* -webkit-animation-iteration-count: infinite; */
}

.bloque2 img:hover{
    animation: traslacion 3s;
    /* -webkit-animation: 3s; */
}

a:hover{
    text-decoration:underline;
}



@-webkit-keyframes slidein {
    0%{
        margin-top: 150%;
    }
    60%{
        margin-top: -5%;
    }
    100%{
        margin-top: 0%;
    }
}

@keyframes rotar {
    from{
        transform: rotate(10deg);
        /* -webkit-transform: rotate(10deg); */
        border: 2px solid #82c3a6;
    }
}


@-webkit-keyframes rotar {
    from{
        transform: rotate(10deg);
        /* -webkit-transform: rotate(10deg); */
        border: 2px solid #82c3a6;
    }
}



@keyframes traslacion {
    from{
        transform: translate(20px,-5px);
        /* -webkit-transform: translate(20px,-5px); */
        border: 2px solid #82c3a6;
    }
}


.foto1{
    -webkit-filter: blur(10px);
    filter: blur(10px);
}

.foto2, .foto4, .foto6{
    -webkit-filter: grayscale(100%);
    filter: grayscale(100%);
}
.foto3{
    -webkit-filter: sepia(90%);
    filter: sepia(90%);
}
