
/* cabecera */
header, #titulo{
    background-color: #5b7989;
    border-radius: 10px 10px 0px 0px;
    text-align: left;
    color: white;
    text-shadow: 2px 2px #02010a;
    font-family: 'Dancing Script', cursive;

}

nav, a {
    text-align: right;
    color: white;
    text-decoration: none;
}



/* contenido */

body{

    background:  #02010a;
}

div{
    margin: 0px;
    /* vertical-align: middle; */
}

.contenido{
    margin: auto;

}

.principal{
    align-content: center;
    background: #82c3a6;
}

.secundaria{
    background-color:  #d5c75f;
    border-width: 1px;
    height: 100%;
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: space-around;

}


figure{
    margin: 0px;
    padding: 2%;
    text-align: center;
}

figure img{
    width: 100%;
    vertical-align: middle;
    border: 2px solid #02010a;
}


/* pie de pagina */
footer {
    background-color: #C6d5c5;
    border-radius: 0px 0px 10px 10px;
    color: black;
    font-family: 'Dancing Script', cursive;

}

footer a{
    color: black;
}

img[src*=".jpg"]{
  border-radius: 50px 0px 50px 0px;
}

img[src*=".svg"]{
  border-radius: 50% 0% 0% 50%;;
}


.pie{
    display: flex;
    font-size: 0.8em;
    padding: 0px 10px 0px 10px;
    align-items: flex-start;
    justify-items: center;
}


/* NOTE: Configuración de pantalla de dispositivos */

@media (min-width:900px) {
    .contenido {
        max-width: 900px;
    }

    div[class*="bloque"]{
        width: 50%;
    }
    .secundaria{
        flex-wrap: nowrap;
    }

    div[class*="pie"]{
        flex: 1 1 25%;
        flex-direction: row;
    }

}

@media (max-width:900px) {
    .contenido {
        max-width: 100%;
    }
    div[class*="bloque"]{
        width: 100%;
    }
    .secundaria{
        flex-wrap: wrap;
    }
    div[class*="pie"]{
        flex: 1 1 100%;
        flex-direction: column;
    }
}



/* NOTE:Efectos de animación  */

@keyframes rotar {
    from{
        transform: rotate(10deg);
        border: 2px solid #82c3a6;
    }
}


@keyframes traslacion {
    from{
        transform: translate(20px,-5px);
        border: 2px solid #82c3a6;
    }
}


.bloque1 img:hover{
    animation: rotar 3s;
}

.bloque2 img:hover{
    animation: traslacion 3s;
}
